/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  position: absolute;
  width: 100vh;
  color: white;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
}

.download-btn {
   
  padding: 8px 18px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  background: white;
  color: #ff512f;
} */


.navbar {
  display: flex;
  justify-content: space-between;   /* logo left, links right */
  align-items: center;
  padding: 25px 80px;
  position: absolute;
  width: 100%;          /* FIXED */
  top: 0;
  left: 0;
  color: white;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
}

.download-btn {
  padding: 8px 18px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  background: white;
  color: #ff512f;
}